hr {
  width: 75%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
li {
  display: inline-block;
  align-items: center;
  text-align: center;
}
#currency-conversion {
  margin-top: 18px;
  border-color: darkblue;
}
.main-heading {
  color: darkblue;
  font-style: italic;
}
h2, h1, h3, .clams {
  text-align: center;
  margin: auto;
}
nav, .footer {
  position: fixed;
  width: 100%;
}
nav {
  top: 0;
  background-color: mediumturquoise;
}
footer {
  bottom: 0;
  height: 80px;
  background-color:mediumturquoise;
}
footer>a>i {
  align-items: center;
  vertical-align: middle;
}
.purple>a {
  color: purple;
}

/* REFRESH button rotation */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
