hr {
  width: 75%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#root, .honeydew {
  background-color: honeydew;
}
#chart-head > h3 {
  color: antiquewhite;
}
.clams {
  font-family: 'Courier New', Courier, monospace;
  color: antiquewhite;
  font-size: 60px;
}
tr, th {
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 20%;
  margin-right: 20%;

}
li {
  display: inline-block;
  align-items: center;
  text-align: center;
}
#currency-conversion {
  margin-top: 18px;
  border-color: darkblue;
}
.main-heading {
  color: darkblue;
  font-style: italic;
}
h2, h1, h3, .clams {
  text-align: center;
  margin: auto;
}
nav {
  top: 0;
  background-color: darkslategray;
  border-radius: 0% 0% 23% 23%;
}
footer {
  bottom: 0;
  height: 80px;
  background-color:darkslategray;
  border-radius: 18% 18% 0% 0%;

}
form {
  margin-right: auto;
  margin-left: auto;
}
#single-title, #second-title, #chart-head, #chart {
  background-color: darkslategray;

}
#single-title {
  margin-top: 60px;
}
td, th {
  text-align: center;
}
footer>a {
  align-items: center;
  vertical-align: middle;
}
table {
  border-style: solid;
  border-width: thick;
  border-color: olive;
  margin-bottom: 5;
}
a, #logo {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration:honeydew;
}
td > a {
  color: darkslategray;
  text-decoration: none;
}
/* REFRESH button rotation */
.purple {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .purple {
    animation: purple-spin infinite 20s linear;
  }
}

@keyframes purple-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
